<!DOCTYPE html>
<html>
<head>
    <title><%= title +' 出错啦!'%></title>
	<style>
        .img{
            width:500px;
			height:400px;
            margin:0 auto;
            background:url('http://manhuaasset.b0.upaiyun.com/assets/layout/logo-3ae1cf00b2a386092e5bd224d10354ff.png');
		}
        h1 {
            width:500px;
            height:400px;
            margin:0 auto;
        }
	</style>
</head>
<body>
	<div class="img"></div>
    <h1>艾玛呀 <%= message %>!!!</h1>
</body>
</html>
