    <div class="row">
        <hr>
        <div class="column small-12 medium-12 large-12">
            <h4>友情链接</h4>
            <div class="row small-up-2 medium-up-4 large-up-6">
                <div class="column"><a href="www.youtube.com/">Youtube</a></div>
                <div class="column"><a href="http://www.197c.com/">爱微电影</a></div>
                <div class="column"><a href="http://www.vmovier.com/">V电影</a></div>
                <div class="column"><a href="http://www.iqiyi.com/">爱奇艺</a></div>
                <div class="column"><a href="http://www.youku.com/">优酷</a></div>
                <div class="column"><a href="http://www.letv.com/">乐视</a></div>
            </div>
        </div>
    </div>
    <div class="row">
        <hr>
        <div class="column small-12 medium-4 large-4">
            <h4>关于我们</h4>
            <p><small class="subheader">微.酷是一个微电影在线分享平台，所有的视频资源均来自网友及第三方站点，涉及版权内容部分，本站概不负法律责任。</small></p>
        </div>
        <div class="column small-12 medium-4 large-4">
            <h4>合作伙伴</h4>
            <h6><img src="http://vfilm.china.com.cn/skin/default/images/yxbg.png" alt="中国微电影"></h6>
        </div>
        <div class="column small-12 medium-4 large-4">
            <h4>联系我们</h4>
            <h6>电话：400-400-499999</h6>
            <h6>地址：广州市番禺区大学城外环东路132号</h6>
        </div>
    </div>
