<!DOCTYPE html>
<html>
<head>
    <title><%= title %> -登录页</title>
</head>
<body>
    <form role="form" action="/user" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="submit">
    </form>
</body>
</html>