<!DOCTYPE html>
<html>
<head>
    <title><%= title %> -用户注册</title>
</head>
<body>
    <form action="/user/authenticate/register" method="post" role="form">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="submit">
    </form>
    <h5><%= info %></h5>
</body>
</html>