        <!-- 返回顶部按钮 -->
        <div class="back-to-top"></div>
    <script src="/static/foundation/js/vendor/jquery.min.js"></script>
    <script src="/static/foundation/js/foundation.min.js"></script>
    <script src="http://static.runoob.com/assets/foundation-5.5.3/js/vendor/modernizr.js"></script>
    <script src="/static/js/asset/js.cookie.js"></script>
    <script src="/static/js/asset/common.js"></script>