        <!-- 返回顶部按钮 -->
        <div class="back-to-top"></div>
    <script src="/static/foundation/js/vendor/jquery.min.js"></script>
    <script src="/static/foundation/js/foundation.min.js"></script>
    <script src="/static/foundation/js/app.js"></script>