<!DOCTYPE html>
<html>
<head>
    <% include head %>
    <title><%= userdata.nickname %> -用户资料</title>
</head>
<body>
    <% include header %>
    <div class="row">
        <section class="columns small-12 medium-7">
            <h5 class="text-center">基本资料</h5>
            <form role="form">
                <div class="row">
                    <div class="small-3 columns">
                        <label for="username" class="text-right"><strong>用户名:</strong></label>
                    </div>
                    <div class="small-9 columns">
                      <h6 id="username"><%= userdata.username %></h6>
                    </div>
                </div>
                 <div class="row">
                    <div class="small-3 columns">
                        <label for="nickname-input" class="text-right"><strong>昵称:</strong></label>
                    </div>
                    <div class="small-9 columns">
                      <input type="text" id="nickname-input" value="<%= userdata.nickname %>" placeholder="添加昵称">
                    </div>
                </div>
                <div class="row">
                    <div class="small-3 columns">
                        <label for="avator-input" class="text-right"><strong>头像:</strong><br>(<a href="javascript:void(0)" data-toggle="avator-modal">更换</a>)</label>
                    </div>
                    <div class="small-9 columns">
                      <img src="/static/images/default_avator.jpg" class="avator-large" alt="头像加载失败">
                    </div>
                </div>
                <div class="row">
                    <div class="small-4 medium-3 columns">
                        <label for="password" class="text-right"><strong>登录密码:</strong></label>
                    </div>
                    <div class="small-8 medium-9 columns">
                      <p><a href="javascript:void(0)" data-toggle="change-psw">修改</a></p>
                        <div class="callout dropdown-pane" id="change-psw" data-dropdown data-animate="hinge-in-from-top hinge-out-from-bottom">
                          <input type="password" placeholder="输入新密码">
                          <input type="password" placeholder="再次输入新密码">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 medium-5 small-offset-4 medium-offset-5 columns">
                        <button class="button tiny update-info">更新设置</button>
                        <p class="form-error is-visible update-info-tip"></p>
                    </div>
                </div>
            </form>
            <div class="row">
                <hr>
                <!-- 我的电影 -->
                <h5> &nbsp; &nbsp;我的电影 &nbsp;<a href="/addmovie" class="tiny button secondary">发布</a></h5>
                <div class="row small-up-1 medium-up-2 callout movie-list">
                    <!-- 我的电影列表 -->
                </div>
            </div>
        </section>
        <section class="columns small-12 medium-5">
            <div class="row">
                <!-- 我的活动 -->
                <div class="small-8 small-centered columns callout actv-list">
                    <h5>我的活动</h5>
                </div>
                <!-- 我的活动结束 -->
            </div>
        </section>
    </div>
    
    <!-- 更换头像弹窗 -->
     <div class="tiny reveal" id="avator-modal" data-reveal>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <h5 class="float-center">上传头像</h5>
            <form action="#" role="form">
                <input class="input-group-field new-avator" name="avator" type="file">
            </form>
            <button type="button" class="button tiny avator-replace">替换</button>
        </div>
    </div>
    <!-- 弹窗结束 -->
<!-- 
    <form action="/user/update/avator" method="post" role="form" enctype="multipart/form-data">
        <input type="file" name="avator">
        <input type="submit" value="uploadavator">
    </form> -->
    <% include script %>
    <script src="/static/js/user.js"></script>
</body>
</html>