body,html {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

.default-blue {
  color: #2199e8;
}

.back-to-top {
    width:50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 30px;
    background: url('/static/images/top.png') no-repeat;
    cursor:pointer;
    opacity: 0.3;
}

.default-primary {
    color:#ff6908;
}

.avator-small {
    width:25px;
    height: 25px;
}

.avator-large {
    width: 60px;
    height: 60px;
}

.activity-list {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden; 
}
.chat-bg {
    background-color: #CDCDC1;
}
.chat-bg aside {
    height: 85%;
    padding-right: 1rem;
    padding-left: 1rem;
    min-height: 250px;
    overflow-y: auto;
    overflow-x: hidden; 
}

.chat-input-bar {
    padding-right: 1rem;
    padding-left: 1rem;
}
.msg-item {
    padding: 0.1rem;
    word-break: break-all;
    background-color: #000;
    color: #fff;
    display: inline-block; 
    opacity: 0.6;
    filter: alpha(opacity=60);
    border-radius: 4px;

}
/*自添开始*/
.top-bar li a:hover {  
    background-color: #ff6908;}
#bar-logout {
    color:#2199e8;
}
.del-activity {
    cursor: pointer;
}
/* 自添结束 */

.img-radius {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#loading {
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0.4;
    position: fixed;
}

#loading img {
    margin-top: 50%;
    margin-left: 50%;
    position: relative;
    top:-62px;
    left:-62px;
}